* {
  align-items: center;
  margin: auto;
  padding: 0%;
  box-sizing: border-box;
  background-color: rgb(6, 11, 27);
}

h1 {
  color: rgb(46, 44, 48);
  text-align: center;
  background-color: aliceblue;
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  height: 50vh;
}

.everything {
  display: grid;
  place-items: center;
  height: 100%;
}

.scoreboard {
  font-size: 200%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  height: auto;
  justify-content: space-between;
  display: flex;
  color: white;
  padding: 10px 15px;
  padding-left: 10px;
  padding-right: 10px;
  width: 30%;
  border: 3px solid white;
  border-radius: 5px;
  text-align: center;
}
.choices {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin: 20px 0;
}
.UserWrapper {
  width: 20%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 20px;
}
.CompWrapper {
  width: 30%;
  justify-content: space-between;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 0 20px;
}

.result {
  color: white;
}

.message {
  color: white;
}

button,
.choice {
  background-color: #ea4c89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
button:hover {
  background-color: #f082ac;
}

.choice:hover,
.choice:focus {
  background-color: #f082ac;
}

#res {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
